@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fi-body {
    @apply bg-main-light dark:bg-main-dark !important;
}

.fi-topbar nav {
    @apply bg-secondary-light dark:bg-secondary-dark shadow-none ring-0 !important;
}

.fi-sidebar {
    @apply bg-main-light dark:bg-main-dark !important;
}

.fi-sidebar-close-overlay {
    @apply bg-main-light/50 dark:bg-main-dark/50 shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-sidebar-nav {
    @apply bg-secondary-light dark:bg-secondary-dark rounded-2xl ml-4 mr-4 md:mr-0 mt-4 px-6 py-6 !important;
}

.fi-sidebar-header {
    @apply bg-secondary-light dark:bg-secondary-dark shadow-none ring-0 !important;
}

.fi-layout .fi-sidebar {
    height: calc(100vh - 1rem) !important;
}

.fi-sidebar-nav-groups {
    @apply gap-y-4 !important;
}

.fi-sidebar-group-items {
    @apply gap-y-2 !important;
}

.fi-sidebar-item-button {
    @apply px-4 rounded-full !important;
}

.fi-sidebar-item {
    .fi-sidebar-item-button {
        @apply hover:bg-main-accent dark:hover:bg-main-accent !important;
    }

    .fi-sidebar-item-icon {
        @apply text-black dark:text-white !important;
    }

    .fi-sidebar-item-label {
        @apply text-black dark:text-white !important;
    }

    .fi-badge {
        @apply rounded-full !important;
    }
}

.fi-sidebar-item.fi-active {
    .fi-sidebar-item-button {
        @apply bg-main-primary hover:bg-main-secondary !important;
    }

    .fi-sidebar-item-icon {
        @apply text-white !important;
    }

    .fi-sidebar-item-label {
        @apply text-white !important;
    }

    .fi-badge {
        @apply text-main-primary dark:text-main-primary rounded-full bg-white/80 dark:bg-white/80 !important;
    }

    .fi-badge.fi-color-warning {
        @apply bg-warning-50 text-warning-600 ring-warning-600/10 !important;
    }
}

.fi-btn {
    @apply px-4 py-2.5 rounded-full !important;
}

.fi-ta-ctn {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-ta-ctn {
    .fi-ta-content {
        @apply divide-border-light dark:divide-border-dark border-0 !important;
    }

    .fi-ta-table {
        @apply divide-border-light dark:divide-border-dark !important;
    }

    .divide-y {
        @apply divide-border-light dark:divide-border-dark !important;
    }
}

.fi-ta-row {
    @apply bg-main-light dark:bg-main-dark hover:bg-secondary-light dark:hover:bg-secondary-dark !important;
}

.fi-ta-header {
    @apply p-0 pb-6 pt-2 !important;

    .fi-ta-header-heading {
        @apply text-lg !important;
    }
}

.fi-ta-header-ctn {
    @apply p-4 !important;
}

.fi-ta-header-toolbar {
    @apply bg-main-accent rounded-2xl !important;
}

.fi-ta-header-toolbar .fi-input-wrp {
    @apply bg-main-light dark:bg-secondary-dark rounded-full p-0 ring-border-light dark:ring-border-dark !important;
}

.fi-topbar {
    .fi-input-wrp {
        @apply rounded-full p-0 !important;
    }
}

.fi-ta-header-toolbar {
    .fi-icon-btn {
        @apply bg-main-light dark:bg-secondary-dark rounded-full !important;
    }

    .ms-auto {
        @apply gap-x-6 !important;
    }

    .fi-icon-btn-icon {
        @apply text-main-primary dark:text-gray-500 h-4 w-4 !important;
    }
}

.fi-ta-table thead tr {
    @apply bg-secondary-light dark:bg-secondary-dark !important;
}

.fi-ta-table tr th {
    @apply divide-border-light dark:divide-border-dark !important;
}

.fi-wi-stats-overview-stat {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-tabs {
    @apply bg-accent-light dark:bg-accent-dark p-1 rounded-full shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-tabs-item.fi-tabs-item-active {
    @apply bg-main-light dark:bg-main-dark rounded-full !important;

    .fi-tabs-item-label {
        @apply text-main-dark dark:text-main-light !important;
    }
}

.fi-tabs-item {
    @apply bg-secondary-light dark:bg-secondary-dark rounded-full !important;
}

.fi-wi-stats-overview-stat-description {
    @apply text-main-dark dark:text-main-light !important;
}

.fi-section {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-avatar {
    @apply ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-dropdown-panel {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-dropdown-list-item {
    @apply rounded-2xl hover:bg-main-light dark:hover:bg-main-dark !important;
}

.fi-theme-switcher-btn {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark ring-1 ring-border-light dark:ring-border-dark hover:bg-main-light dark:hover:bg-main-dark !important;
}

.fi-theme-switcher-btn.fi-active {
    @apply bg-main-light dark:bg-main-dark ring-secondary-light dark:ring-secondary-dark !important;
}

.fi-modal-window {
    @apply rounded-2xl bg-main-light dark:bg-main-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-modal-heading {
    @apply capitalize !important;
}

/* .fi-modal-header {
    @apply bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
} */

.fi-modal-header:has(.fi-link) {
    @apply bg-secondary-light dark:bg-secondary-dark rounded-2xl !important;
}

.fi-modal-header .absolute {
    @apply end-6 top-6 !important;
}

/* .fi-modal-footer {
    @apply pt-6 !important;
} */

.fi-modal-window {
    .fi-no-notification {
        @apply rounded-none bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark hover:bg-main-light dark:hover:bg-main-dark !important;
    }
}

.fi-modal-close-overlay {
    @apply bg-main-light/50 dark:bg-main-dark/50 shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

main.fi-simple-main {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-no-notification {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.fi-fo-tabs.fi-contained {
    @apply bg-secondary-light dark:bg-secondary-dark rounded-3xl shadow-none ring-1 ring-border-light dark:ring-border-dark !important;

    .fi-input-wrp {
        @apply rounded-full !important;
    }
}

/*  */
.fi-sidebar-nav::-webkit-scrollbar {
    display: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.btn-wrapper .fi-btn {
    @apply w-full;
}

.fi-simple-main-ctn {
    @apply px-4 md:px-0;
}

.fi-simple-main {
    @apply rounded-xl;
}

.fi-ta-text-item-label:has(.custom-badge) {
    @apply flex flex-col gap-2;
}

.flex.max-w-max:has(.card-repeater) {
    width: 100% !important;
    max-width: unset !important;
}

.flex.max-w-max .fi-in-text-item {
    width: 100% !important;
    max-width: unset !important;
}

.flex.max-w-max .fi-in-text-item .text-sm {
    width: 100% !important;
    max-width: unset !important;
}


/* INPUT */
textarea {
    @apply placeholder:text-gray-500 dark:placeholder:text-gray-400 !important;
}

.choices__placeholder {
    @apply text-gray-500 dark:text-gray-400 !important;
}

.fi-input-wrp {
    @apply rounded-2xl py-1.5 placeholder:text-gray-500 dark:placeholder:text-gray-400 !important;
}

.choices__list.choices__list--dropdown {
    @apply rounded-xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}

.choices__item.choices__item--choice {
    @apply hover:bg-accent-light hover:dark:bg-accent-dark !important;
}

.fi-select-input {
    @apply [&_optgroup]:bg-secondary-light [&_optgroup]:dark:bg-secondary-dark [&_option]:bg-secondary-light [&_option]:dark:bg-secondary-dark !important;
}

select.grow.cursor-pointer {
    @apply rounded-full bg-accent-light dark:bg-accent-dark px-3 py-1.5 text-sm text-gray-950 outline-none dark:text-white [&_optgroup]:bg-accent-light [&_optgroup]:dark:bg-accent-dark [&_option]:bg-accent-light [&_option]:dark:bg-accent-dark !important;
}

.fi-fo-date-time-picker-panel {
    @apply rounded-2xl bg-secondary-light dark:bg-secondary-dark shadow-none ring-1 ring-border-light dark:ring-border-dark !important;
}